#buttons {
    display: flex;
    flex-direction: row;
    width: 18%;
    margin-left: 41%;
}

button {
    margin: 8px;
    background-color: #006CA5;
    color: whitesmoke;
    border-color: transparent;
    border-radius: 5px;
    padding: 5px;
}