input {
    width: 20%;
}

#login {
    margin-left: 45%;
}

#submit {
    margin-top: 10px;
    width: fit-content;
    margin-left: 49%;
    background-color: cadetblue;
    color: whitesmoke;
    border-color: transparent;
    border-radius: 5px;
}